#name{
    font-weight: bold;
    font-size: 30px;
    color: rgb(11, 11, 11);
}
.empty{
    font-weight: bold;
    font-size: 20px;
    color: rgb(255, 0, 0);
    margin-left: 80px;
}

.container{
    margin: auto;
    margin-top: 20px;
    /* border: 3px solid black; */
}
.col-md-, .col-lg-4{
    margin-bottom: 20px;
}
.sty{
    font-size: 18px !important;
    color: black !important;
}
.num{
    width: 80px;
    height: 30px;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px;
}

#this{
    color: rgb(0, 0, 0);
    font-size: 10px;
    cursor: pointer;
    border-radius: 20%;
    border: 3px solid rgba(190, 0, 248, 0);
}
#this:hover{

    background: rgb(242, 0, 0);
}

